body
	{margin: 5em auto;
	width: 375px;
	background: white;
	color: black;
	font-family: arial;
	font-size: 16px;
	box-sizing: border-box;}


.spacer
	{height: 3em;
	width: 100%;}


.primary, .secondary
	{width: auto;
	height: 44px;
	line-height: 100%;
	font-size: 100%;
	margin: 0;
	padding: 1em 1.5em;
	border-radius: 4px;}

.primary
	{background: #6a2875;
	color: white;
	border: 1px solid #6a2875;}

.primary:focus, .secondary:focus
	{outline: none;
	outline-width: 0px;
	text-decoration: underline;}

.secondary
	{background: white;
	color: #6a2875;
	border: 1px solid #6a2875;}

.hyperlink
	{padding: 0.38em;
	height: 1em;
	line-height: 100%;
	color: blue;
	border: 2px solid transparent;
	border-radius: 4px;}

.hyperlink:focus
	{outline: none;
	outline-width: 0px;
	border-color: #6a2875;}


.text
	{border: 1px solid #959595;
	border-radius: 4px;
	height: auto;
	width: auto;
	font-size: 100%;
	font-weight: normal;
	background: #ffffff;
	color: black;
	padding: 1em;}

.text:focus
	{outline: none;
	outline-width: 0px;
	border-color: #6a2875;
	box-shadow: 0 0 0 1px #6a2875;}

.pill-default, .pill-inverted
	{padding: 1em 1.5em;
	width: auto;
	height: 44px;
	line-height: 100%;
	font-size: 100%;
	border: 1px solid;
	border-radius: 25px;}

.pill-default
	{background: #6a2875;
	color: white;
	border-color: #6a2875;}

.pill-inverted
	{background: #ffffff;
	color: #6a2875;
	border-color: #6a2875;}

.pill-default:focus, .pill-inverted:focus
	{outline: none;
	outline-width: 0px;
	text-decoration: underline;}

[type="radio"], [type="checkbox"]
	{position: absolute;
	 left: -9999px;}

[type="radio"] + label:before
	{content: "";
	 position: absolute;
	 left: 0.5em;
	 top: 0.4em;
	 width: 1em;
	 height: 1em;
	line-height: 100%;
	 border: 1px solid #555555;
	 border-radius: 50%;}

[type='radio'] + label
	{position: relative;
	left: 0;
	top: 0;
	border: 2px solid transparent;
	height: 1em;
	line-height: 100%;
	padding: 0.38em 0.5em 0.38em 2em;
	border-radius: 4px;}

[type='radio']:focus + label
	{border-color: #6a2875;}

[type="checkbox"] + label:before
	{content: "";
	 position: absolute;
	 left: 0.5em;
	 top: 0.4em;
	 width: 1em;
	 height: 1em;
	 border: 1px solid #555555;
	 border-radius: 0;}

[type='checkbox'] + label
	{position: relative;
	left: 0;
	top: 0;
	border: 2px solid transparent;
	height: 1em;
	line-height: 100%;
	padding: 0.38em 0.5em 0.38em 2em;
	border-radius: 4px;}

[type='checkbox']:focus + label
	{border-color: #6a2875;}

.remove
	{position: relative;
	left: 0;
	top: 0;
	border: 1px solid #6a2875;
	border-radius: 50%;
	height: 44px;
	width: 44px;
	background: transparent;
	color: black;}

.remove:before
	{content: "X";
	font-weight: bold;
	font-size: 200%;
	color: black;
	position: absolute;
	left: 0.45em;
	top: 0.2em;}

.remove:focus
	{outline: none;
	outline-width: 0px;
	border-color: #6a2875;
	background: #D9DEE8;
	box-shadow: 0 0 0 1px #6a2875;}

.card-pb
	{display: block;
	border: 1px solid transparent;
	border-radius: 4px;
	background: white;
	color: black;
	text-align: center;
	width: 20em;
	height: auto;
	padding: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.card-pb:focus
	{outline: 2px solid #d9dee8;
	outline-offset: 2px;}


.card-gb
	{display: block;
	border: 2px solid transparent;
	border-radius: 4px;
	background: white;
	color: black;
	text-align: center;
	width: 20em;
	height: auto;
	padding: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.card-gb:focus
	{border-color: #6a2875;
	outline: none;
	outline-width: 0px;}

